*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    background:
        linear-gradient(135deg,
        #5dade2 0%,
        #56a4d7 10%,
        #4a90c3 20%,
        #4282b2 30%,
        #3973a2 40%,
        #33678f 50%,
        #2b5a81 60%,
        #28567f 70%,
        #20486c 80%,
        #1a3b5a 90%,
        #154360 100%),
        url('https://i.imgur.com/8KkGBqM.png');
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-size: auto;
    color: white;
}

.container {
    padding: 10px;
}

#bookDiag {
    padding: 10px;
    border: none;
}
dialog:modal {
    border: none;
    border-radius: 12px;
    margin: 8px;
    box-shadow: 0 8px 10px grey;
}
form {
    height: 170px;
    width: 570px;
    padding: 10px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
}

label {
    font-size: 17px;
    font-weight: bold;
}

input {
    height: 27px;
    border-radius: 15px;
    padding: 2px;
    padding-left: 15px;
    border: none;
    background-color: rgb(216, 198, 201);
    font-size: 15px;
}

input:active{
    border: none;
    outline: none;
}

input:focus {
    box-shadow: 0 6px 9px gray;
    outline: none;
}

button {
    width: 170px;
    height: 32px;
    border: none;
    box-shadow: 0 4px 6px gray;
    border-radius: 8px;
    font-weight: bold;
}

#sub-canBtn {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.header {
    background-color: #19183B;
    height: 100px;
    box-shadow: 0 6px 8px gray;
}